<div id="<%= dom_id song %>">
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= song.genre %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= song.artist_id %>
  </p>

  <p>
    <strong>Release data:</strong>
    <%= song.release_data %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album %>
  </p>

</div>
