<p style="color: green"><%= notice %></p>

<%= render @song %>

<div>

  <%= link_to "Edit this song", edit_song_path(@song) %> |
  <%= link_to "Back to songs", songs_path %>

  <%= button_to "Destroy this song", @song, method: :delete , style: "margin-top: 10px" %>
</div>

<br>
<h3>Add Song To A Playlist</h3>
<%= form_tag({controller: "songs", action: "add"}, method: "post") do |form| %>
  <div class="field">
    <%= label :playlist, "Playlist: ", style: "display: block; padding-right:10px" %>
    <%= collection_select @playlist, :playlist_id, current_user.playlists.order(:name), :id, :name, prompt: true %>
  </div>

  <br>

  <div>
    <%= hidden_field :song_id, @song, value: @song.id %>
  </div>

  <div>
    <%= submit_tag "Add to playlist" %>
  </div>
<% end %>

<br>

<% if @song.cover_url.nil? %>
  <%= form_tag({controller: "songs", action: "getcover"}, method: "post") do |form| %>
    <div>
      <%= hidden_field :song_id, @song, value: @song.id %>
    </div>

    <%= button_to("Get Cover Art",{controller: "songs", action: "getcover"}, method: "post") %>
  <% end %>
<% end %>


<br>

<% if @song.youtube_url.nil? %>
  <%= form_tag({controller: "songs", action: "getvideo"}, method: "post") do |form| %>
    <div>
      <%= hidden_field :song_id, @song, value: @song.id %>
    </div>

    <%= button_to("Get Youtube Video",{controller: "songs", action: "getvideo"}, method: "post") %>
  <% end %>
<% end %>

<br>

<% if @song.cover_url.present? %>
  <%= image_tag @song.cover_url %>
<% end %>

<br>

<% if @song.youtube_url.present? %>
  <%= content_tag(:iframe, '', src: @song.youtube_url, width: 560, height: 315, frameborder: 0) %>
<% end %>