<p style="color: green"><%= notice %></p>

<%= render @song %>

<div>

  <%= link_to "Edit this song", edit_song_path(@song) %> |
  <%= link_to "Back to songs", songs_path %>

  <%= button_to "Destroy this song", @song, method: :delete , style: "margin-top: 10px" %>
</div>

<br>
<h3>Add Song To A Playlist</h3>
<%= form_tag({controller: "songs", action: "add"}, method: "post") do |form| %>
  <div style="display: flex">
    <%= label :playlist, "Playlist: ", style: "display: block; padding-right:10px" %>
    <%= collection_select @playlist, :playlist_id, current_user.playlists.order(:name), :id, :name, prompt: true %>
  </div>

  <br>

  <div>
    <%= number_field :song_id, @song, value: @song.id %>
  </div>

  <div>
    <%= submit_tag "Add to playlist" %>
  </div>
<% end %>