<p style="color: green"><%= notice %></p>

<h1>Playlists</h1>

<div class="table-container">

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <% @playlists.each do |playlist| %>
        <tr>
          <td>
            <%= playlist.name %>
          </td>

          <td>
            <%= link_to "Show this playlist", playlist %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @songs %>

</div>

<button><%= link_to "New playlist", new_playlist_path %></button>
