<p style="color: green"><%= notice %></p>

<%= render @playlist %>

<div>
  <%= link_to "Edit this playlist", edit_playlist_path(@playlist) %> |
  <%= link_to "Back to playlists", playlists_path %>

  <%= button_to "Destroy this playlist", @playlist, method: :delete, style: "margin-top: 10px" %>
</div>

<h2> Songs in Playlist </h2>

<% if PlaylistTrack.exists?(:playlist_id_id => @playlist.id) %>
    <table>
      <thead>
        <th>Song Title</th>

        <th>Options</th>
      </thead>

      <tbody>
        <% PlaylistTrack.exists?(:playlist_id_id => @playlist.id) do |song|%>
          <tr>
            <td>
              <%= song.song_id_id%>
            </td>

            <td>
              Remove From Playlist
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <h3>This playlist currently does not have any songs</h3>
<% end %>